@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body { font-family: 'Poppins', sans-serif; }

.header {
  padding: 60px;
  text-align: center;
  background: rgb(109, 159, 251);
  color: white;
  font-size: 30px;
}
.side-bar {
  float: left;
    width: 15%;
    height: 600px; 
    background: rgb(244, 244, 244);
    /*padding: 20px;*/
  }
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

.main {
  display: flex;
}

.text {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: white;
  height: 300px; 
  font-size: 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}